[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
py-tty-day-1 = { file = ".", editable = true }
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-pytest = "*"
autohooks-plugin-ruff = "*"
black = "*"
ipython = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"
